* {
  margin:0%;
  padding: 0%;
  border: 0vh;
  box-sizing: border-box;
}

a:link{
  color: white;
}

a:visited{
  color: white;
}

a:active{
  color: white;
}

#navbar {
  width: 100vw;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  font-size: x-large;
  position: fixed;
  background: linear-gradient(#235477,#6097BF);
  /* background-color: rgb(69, 146, 172) ; */
  z-index: 100;
}

#nav-menu {
  display: flex;
}

.nav li{
  padding: 10px 0;
  font-size: 22px;
  text-decoration: none;
}

.nav-list {
  width: 50vw;
  display: flex;
  align-items:center ;
  transition: .3s ease;
  text-decoration: none;
}

.nav-list ul {
  list-style: none;
  width: 100%;
  transform: translateY(-20%);
  text-align: center;
  transition: .3s ease;
  text-decoration: none;
}

.navbar{
  background: linear-gradient(-45deg,#235477,#6097BF);
  padding: 12px;
  position: fixed;
  width: 100vw;
  z-index: 2;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.338);
  display: flex;
}
#cyberpro{
  width: 273px;
  margin-left: 20%;
  font-size: 4vh;
  font-weight: 700;
  margin-right: 20vw;
    
}
.nav1{
  font-size: 23px;
  font-weight:lighter;
  display: flex;
  margin-left: 20%; 
  position: absolute;
  margin-top: 17px;
  transition: .3s ease;
}
.nav1 a{
  margin-right: 30px;
  display: inline-flex;
  position: relative;
}
.nav1 li a:hover::after{
  transform: scaleX(1)
}
.nav1 li a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -6px;
  background-color: #ffffff;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

#menu {
  margin-top: 0%;
  padding-top: 0%;
}

#navigation {
  top: 0;
  position: absolute;
  visibility: hidden;
  position: fixed;
  z-index: 100;
}

#menutoggle {
  height: 5vh;
  visibility: hidden;
  top: 0;
  position: absolute;
}

#hometext {
  width: 15vw;
  height: 50vh;
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: large;
}

#homep {
  margin-bottom: 3vh;
}

#homepage {
  background:linear-gradient(#235477,#6097BF);
  display: flex;
  align-items: center;
  height: 100vh;
}

#aboutsection {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}

#about {
  text-align: left;
  width: 25vw;
}

#aboutext {
  margin-bottom: 6vh;
}

#aboutbutton {
  background-color: rgba(0, 0, 0, 0.494);
  padding: 1vh;
  width: 22vw;
  transition: ease-in-out;
  transition-duration: 500ms;
}

#aboutbutton:hover {
  padding: 3vh;
}

.img2{
  z-index: 2;
}

.aboutimg-bg {
  background-color: rgba(69, 146, 172, 0.477);
  width:28vw;
  position: absolute;
  height: 24vh;
  left: 63%;
  top: 129%;
  z-index: 0;
} 

.flip-card {
  background-color: transparent;
  width: 30vw;
  height: 30vh;
  border: 1% solid #f1f1f1;
  perspective: 1000px; 
}
  
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-back {
  background: linear-gradient(gray, white);
}
  
.flip-card-front {
  background: linear-gradient(#235477,#6097BF);
  color: black;
}

#footericons a {
  text-decoration: none;
}

#footericons {
  margin-top: 2vh;
  margin-left: 2.5vw;
}

.flip-card-front1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  background-image:url(codingimg.avif);
  background-size: cover;
}

#centerimgfronttxt {
  padding-top: 12.5vh;
  font-size: 4vh;
  color: white;
}

.frontimgtxt {
  padding-top: 11vh;
  font-size: 4vh;
  color: white;
}

.flip-card-back {
  background-color: gray;
  color: white;
  transform: rotateY(180deg);
  font-size: small;
} 

.backimgtxt {
  margin-top: 5vh;
}

#imgrow {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
  margin-bottom: 5vh;
}  

#graysection {
  color: white;
  background: linear-gradient(gray,white);
  /* background-color: gray; */
  text-align: center;
  margin:0%;
  padding: 5vh;
  border: 0vh;
}

#services {
  text-align: center;
  margin-top: 30vh;
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  margin:0%;
  padding: 5vh;
  border: 0vh;
}

.buttonbody {
  background-color:rgba(0, 0, 0, 0.321); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: ease-in-out;
  transition-duration: 500ms;
}

.buttonbody:hover {
  padding: 3vh;
}

@media only screen and (max-width: 768px){

  #navbar {
    width: 100vw;
  }

  #hamburger-menu {
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    padding: 0px;
    margin: 20px;
  }

  .hamburger-menu #nav-menu {
    visibilty: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #3D0E61;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  #homepage {
    display: flex;
    flex-direction: column-reverse;
  }

  #androidimg {
    width: 94vw;
    margin-right: 9vw;
  }

  #hometext {
    width: 50vw;
    margin-left: 2vw;
  }

  #aboutsection {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 25vw;
    margin-top: 2vh;
  }

  #aboutext {
    margin-top: 5vh;
    text-align: center;
    width: 100vw;
    text-align: center;
    padding-right: 10rem;
  }

  #about {
    width: 52vw;
  }

  #services {
    margin-top: 10vh;
  }

  #navigation{
    visibility: visible;
  }

  .aboutimg-bg {
    background-color: rgba(69, 146, 172, 0.477);
    position: absolute;
    height: 29vh;
    left: 25%;
    top: 106%;
    z-index: 0;
    width: 65vw;
  }

  .img2 {
    width: 75vw;
    position: relative;
    right: 21%;
  }

  #imgrow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flip-card {
    width: 100vw;
  }

  #graysection {
    margin-top: -5vh;
  }

  body {
  margin: 0;
  padding: 0;
  
  background: #232323;
  color: #cdcdcd;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  margin: 0%;
  padding: 0%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  visibility: visible;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 50vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul{
  transform: none;
}
 
#navbar {
  visibility: hidden;
}

}

